@model IEnumerable<MyECommerece.Models.Product>

<h1>Products</h1>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@product.PhotoPath" class="card-img-top" alt="@product.Name" style="height: 200px; object-fit: cover;">

                <div class="card-body text-center">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">Price: $@product.Price</p>
                </div>
            </div>
        </div>
    }
</div>
